.toDoList {
    background-color: aquamarine;
}

#taskcontainer {
    display: flex;
    flex-direction: column;
    padding: 10px;

    margin: 5px
}

#newTaskInputForm{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.done {
    text-decoration: line-through
}
.text{ 
    padding:  10px;
}
.edit {
padding:  10px;
}
.delete {
    padding:  10px;
}
.toDoTask {
    display: flex;
    flex-direction: row;
}


